<div class= 'container' style="background-color:#9855D4;">
  <h1 id='landing_page_title'>FANCEE</h1>
  <h2 id='landing_page_subtitle'>your clothing store</h2>
  <%= link_to 'SHOP NOW', all_items_path, class:'btn', id:'landing_page_btn' %>
</div>
