.glyphicon, a {
color: #412356;
font-size: 18px;
font-family: 'Arcon Regular';
}

.modal-body, a {
  color: #412356;
  font-size: 18px;
  font-family: 'Arcon Regular';
}

.modal-footer, a {
  color: #412356;
  font-size: 14px;
  font-family: 'Arcon Regular';
}
